* {
  --red: #ff165d;
  --blue: #3ec1d3;
  --yellow: #f6f7d7;
  --orange: #ff9a00;
}

.user_full_name_clamp {
  font-size: clamp(1em, 3vw, 1.25em);
}

.App {
  min-height: 100vh;
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
}

.App > div {
  display: flex;
  flex: 1;
}
